<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Inicio</title>
</head>
<body>

    <div id="background">
        <img src="../img/gifs-natureza-bela-4.gif" alt="" srcset="" id="gif">
    </div>
    <header id="my-header">

            <a href="#header">Início</a>
            <a href="#welcome">Sobre</a>
            <a href="#content">Conteúdo</a>
            <a href="#forum">Forum</a>
    </header>
    <main>
        <section id="layout">
            <div class="layout-text">
                <h1 class="first-tittle"><span style="color: var(--primary-color)">Energy Clean</span></h1>
                <h1 class="second-tittle">Espalhando o Conhecimento</h1>
            </div>
            <div class="scroll-indicator">
                <div class="arrow-wrapper">
                    <span class="arrow"></span>
                    <span class="arrow"></span>
                    <p class="ver-mais">Ver Mais</p>
                </div>
               
            </div>
        </section>
        <div class="content">
            <div id="welcome">
                <h1 >Seja Bem vindo ao Energy Clean</h1><br>
            </div> 
        <section id="about">            
            <div class="about-text">
                <div class="text">
                <h2>About us</h1><br><br>
                <p>Somos uma plataforma dedicada a expandir o conhecimento e promover o uso de energias renováveis para um futuro mais sustentável.
                     Em um mundo onde a preocupação com o meio ambiente é cada vez mais urgente, acreditamos que a educação e a colaboração são essenciais para 
                     impulsionar a adoção de práticas mais ecológicas.<br><br>

                    Nosso objetivo é fornecer uma fonte centralizada de informações confiáveis sobre energias renováveis, desde os princípios básicos até as tecnologias
                     mais avançadas. Queremos capacitar as pessoas a entenderem os benefícios das energias limpas e a incorporá-las em suas vidas cotidianas, seja em casa,
                      no trabalho ou na comunidade.<br><br>
                    Além disso, oferecemos um espaço de interação e troca de ideias através de nosso fórum de discussão. Aqui, indivíduos apaixonados por energia 
                    sustentável podem se conectar, compartilhar experiências, projetos e descobertas, enriquecendo assim o conhecimento coletivo e inspirando a ação positiva.<br><br>
                    Se você é um entusiasta das energias renováveis, um estudante curioso, um profissional da área ou apenas alguém interessado em fazer a diferença no mundo, 
                    você está no lugar certo. Junte-se a nós no Energy Clean e vamos juntos construir um futuro mais limpo e sustentável para todos.<br><br>
                    Vamos fazer a diferença, uma fonte de energia de cada vez!
                    </p>
                </div>
                <div class="logo">
                    <img src="../img/energy-clean-logo.png" alt="energy-clean-logo" id="energy-clean-logo">
                </div>
            </div>
        </section>
        <section class="know-more">
            <div class="tittle-know-more">
                <h1>Aprofundando o Conhecimento</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="img-card">
                        <img src="../img/Energia-Sustentável.png" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Sustentavel</h2><br>
                        <p>Energia sustentável é toda energia elétrica originada a partir de fontes renováveis que não geram impactos ao meio ambiente, como a energia solar fotovoltaica e a eólica.</p>
                        <button onclick="" id="btn-1" class="btn">Mais</button>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../img/Materia-Energia-Solar.jpg" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Solar</h2><br>
                        <p>A energia solar fotovoltaica é a energia obtida através da conversão direta da luz em eletricidade por meio do efeito fotovoltaico.</p>
                        <button onclick="" id="btn-2" class="btn">Mais</button>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../img/energia-hidreletrica.jpg" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Hidréletrica</h2><br>
                        <p></p>
                        <button onclick="" id="btn-3" class="btn">Mais</button>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../img/energia_eolica.jpg" alt="" class="img-card">
                    </div>
                    <div class="content-card">
                        <h2>Energia Eolica</h2><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, perferendis quisquam impedit architecto distinctio nam.</p>
                        <button onclick="" id="btn-4" class="btn">Mais</button>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="forum">
            <div class="forum-container">
                <img src="../img/energy-clean-logo.png" alt="" class="forum-img">
                <div class="forum-apresentation">
                    <h2>Compartilhando o conhecimento</h2><br><br>
                    <div class="itens">
                    <p>Voce conhece o forum Energy Clean? Um ambiente para pode aprofundar e compartilhar seus conhecimentos sobre Energia Sustentável. <br><br>
                    Estamos vivendo em uma era onde desastres naturais estão se tornando cada vez mais recorrentes e com isso, é necessario que todos tenham conhecimentos sobre
                    Energias SUstentaveis e como aplica-las em suas empresas e vidas. Você pode fazer parte dessa comunidade para compartilhar suas ideias e conhecimentos, projetos que 
                    foram desenvolvidos para a utilização de energias de fontes sustentaveis, entre outras coisas. <br><br>
                    Ficou interessado  e deseja participar dessa incrivel comunidade? Clique nos botões abaixo e se inscreva para fazer parte.</p>
                    <div class="button-forum">
                        <!-- <form action="/login" method="get"> -->
                            <button type= "submit" id="into-login">Login</button>
                            <button type= "submit" id="into-signup">Inscreva-se</button>

                    </div>
                </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-container">
                <div class="footer-top">
                    <div class="notas">
                        <h1>Notas</h1><br><br>
                        <p>Projeto desenvolvido para projeto portfolio e faculdade, com o intuito de aprimorar as hard-skils em front-end e back-end</p>
                    </div>
                 <div class="social">
                     <h3>Social</h3>
                      <div class="rede-social">
                        <img src="" alt="">
                        <a href="https://github.com/Luiz-Soares07">GitHub</a>
                      </div>
                      <div class="rede-social">
                        <img src="" alt="">
                        <a href="https://www.linkedin.com/in/luiz-felipe-soares-57228219b/">Linkedin</a>
                     </div>
                 </div>
                </div>
                <div class="footer-bottom">
                  <p>Energy Clean by Luiz Felipe</p> 
                </div>
            </div>
        </footer>
    </main>
    <script src="../js/home.js"></script>
</body>
</html>